[submodule "imgui"]
	path = src/imgui
	url = https://github.com/ocornut/imgui
[submodule "clap"]
	path = src/clap
	url = https://github.com/free-audio/clap
[submodule "src/clap-wrapper"]
	path = src/clap-wrapper
	url = https://github.com/free-audio/clap-wrapper
[submodule "src/cbeepsynth"]
	path = src/cbeepsynth
	url = ../cbeepsynth.git
[submodule "src/pugl"]
	path = src/pugl
	url = https://gitlab.com/lv2/pugl.git
